<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <img src="assets/nr.jpeg" class="rounded-circle" width="80px" alt="Not Found">
      <div class="navbar-header">

        <a class="navbar-brand" href="#">Router Links With Forms Project</a>
      </div>

      <ul class="nav navbar-nav-right">
        <li class="active"><a href="#">Home</a></li>

        <li><a href="#" routerLink="/about" routerLinkActive="active">About Us</a></li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><a href="#" routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#" routerLink="/collapse">Collapse Example</a></li>

      </ul>
    </div>
  </nav>
  <div class="container" align="center">
    <div class="row">
      <input type="text" placeholder="Search" style="width: 850px;">&nbsp;
      <input type="button" class="btn btn-primary" value="Search" style="width: 150px;">
    </div>
  </div>

  <router-outlet></router-outlet>
  <br><br>

  <!-- <form (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="row" *ngFor="let obj of dataArray let i = index">
            <div class="form-group col-md-4">
                <input type="text" placeholder="Name" name="name{{i}}" 
                [(ngModel)]="obj.name"
                class="form-control">
            </div>
            <div class="form-group col-md-4">
                <input type="number" placeholder="Salary" name="salary{{i}}" 
                [(ngModel)]="obj.salary"
                class="form-control">
            </div>
            <div class="form-group col-md-2">
                <input type="number" placeholder="Age" name="age{{i}}" 
                [(ngModel)]="obj.age"
                class="form-control">
            </div>
            <div class="form-group col-md-2" *ngIf="i != 0">
                <input type="button" value="-" 
                (click)="removeForm(i)" 
                class="btn btn-danger">
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input type="button" value="+" 
                (click)="addForm()"
                class="btn btn-success">
            </div>
            <div class="form-group col-md-2">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </div>

</form> -->

</body>

</html>