<div class="container" align="center">
    <h3>Enter Your Email and Mobile Number for Verification</h3>
    <div class="row">
        <form [formGroup]="forgotPasswordForm">
            <div class="form-group">
                <input type="email" placeholder="Email" formControlName="email" class="form-control">
            </div>
            <div class="form-group">
                <input type="tel" placeholder="Mobile Number" formControlName="mobile" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success" routerLink="/OTPverification"
                (click)="onOTP()"
                [disabled]="!forgotPasswordForm.valid">Get OTP</button>
            </div>
        </form>
    </div>
</div>